<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}Trisha and The Trees{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="static/style.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
	<script type="text/javascript" src="static/main.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<div id="header"></div>
	<div id="page">
	{% block content %}{% endblock %}
	</div>
	<div id="footer"></div>
</body>
</html>
