<?xml version=\"1.0\" encoding=\"utf-8\" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block title %}Trisha and The Trees{% endblock %}</title>
        <link rel='stylesheet' href='bootstrap/css/bootstrap.css' type='text/css'>

</head>
<body font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 20px; line-height:200%>
{% block content %}Hello Trisha and The Trees!{% endblock %}
</body>
</html>
