{% extends "base.html" %}
{% block headlink-left %}
<span class="name">Welcome, {{ email }}!</span>
{% endblock %}
{% block headlink-right %}
 <a href="#" id="new-project-link">New Project</a> | <a href="#" id="edit-profile-link">Edit Profile</a> | <a href="/logout">Log out</a>
{% endblock %}
{% block content %}
<script type="text/javascript" src="/static/third-party/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="static/main.js"></script>
<div id="left-column-area">
	<table id="projects-table" class="dataTable" cellpadding="0" cellspacing="0" width="100%">
	</table>	
</div>
<div id="main-area">
	<table id="tasks-table" class="dataTable" cellpadding="0" cellspacing="0" width="100%">
	</table>	
</div>

<div id="new-project-dialog" style="display:none;"> 
<form class="dialog">
        <label for="project_title">Project Title</label> <br />
        <input type="text" name="project_title" id="project_title"/><br />
        <label for="project_desc">Project Description</label> <br />
		<input type="text" name="project_desc" id="project_desc"/> <br />
        <label for="project_filename">Box Filename</label> <br />
        <select name="project_filename" id="project_filename">
		  <option value="xyz.txt">xyz.txt</option>
		  <option value="abc.txt">abc.txt</option>
		  <option value="pqr.txt">pqr.txt</option>
		  <option value="uvw.txt">uvw.txt</option>
		  <option value="ijk.txt">ijk.txt</option>	  
		</select><br/>
        <input type="button" value="Next" onclick="add_project();" />
</form>
</div>
<div id="new-task-dialog" style="display:none;"> 
<form class="dialog">
        <label for="task_desc">Task Description</label> <br />
		<input type="text" name="task_desc" id="task_desc"/> <br />
		<label for="task_owner">Task Owner</label> <br />
		<select name="task_owner" id="task_owner">
		  <option value="helloanant007@gmail.com">helloanant007@gmail.com</option>
		  <option value="lior.gavish@gmail.com">lior.gavish@gmail.com</option>
		  <option value="kotharitrisha@gmail.com">kotharitrisha@gmail.com</option>
		  <option value="kotharitrisha@gmail.com">avida.jonathan@gmail.com</option>		  
		</select><br/>
		<label for="task_desc">Deadline</label> <br />
		<input type="text" name="task_deadline" id="task_deadline"/> <br />
        <input type="button" value="Next" id= "task_next" onclick="add_task(); return false;" />
        <input type="button" value="Done" id="task_done" onclick="doneAllTasks(); return false;" />
</form>
</div>


{% endblock %}





